<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>YelpCamp</title>
</head>
<body class="mainbody">
<header id="showcase">
  <h1>Welcome to The Campgrounds!</h1>
  <p>Your one stop destination to decide your next campground</p>
  <a href="/campgrounds" class="button">View All Campgrounds</a>
</header>


<% include partials/footer %>
